.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 40px;
  box-shadow: -3rem 0 3rem -2rem #000;

  /* background: linear-gradient(85deg, #434343, #262626); */
  /* background: linear-gradient(to right, #111, #262626); */
  background: linear-gradient(to right, #000000, #434343);
  color: #fff;
}
