.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 40px;
  box-shadow: -3rem 0 3rem -2rem #000;

  /* background: linear-gradient(85deg, #434343, #262626); */
  /* background: linear-gradient(to right, #111, #262626); */
  /* background: linear-gradient(to right, #000000, #434343); */
  background: #232323;
  color: #fff;
}
::-webkit-scrollbar {
  box-shadow: -3rem 0 3rem -2rem #000;
  background: linear-gradient(to right, #111, #262626);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    var(--first-color),
    var(--second-color)
  );
  border-radius: 50px;
}
[draggable="true"] {
  cursor: move;
}
#pdf-print {
  width: fit-content;
  max-width: 750px;
  padding: 10px;
  margin: 0 auto;
  /* background:  #333; */
}
.overflow-hidden {
  overflow: hidden;
}
.light .App {
  background-color: #fff;
  color: #333;
}

.light::-webkit-scrollbar {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #ddd, #e8e8e8);
  width: 7px;
}
.light .inputs .input {
  color: #444;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

.light .heading {
  color: #333;
}
.light .tab-container {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.light .tab-big-container {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.light .pdf-container {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}
.light .links .link,
.light .item .link,
.light .item .link svg,
.light .links .link svg {
  color: #333;
}
@media (max-width: 800px) {
  #pdf-print {
    width: 100%;
  }
}
