:root {
  --first-color: #ff970c;
  --second-color: #f11d0f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  box-shadow: -3rem 0 3rem -2rem #000;
  background: linear-gradient(to right, #111, #262626);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    var(--first-color),
    var(--second-color)
  );
  border-radius: 50px;
}
[draggable="true"] {
  cursor: move;
}
#pdf-print {
  width: fit-content;
  padding: 10px;
  margin: 0 auto;
  /* background:  #333; */
}
.overflow-hidden {
  overflow: hidden;
}
.light .App {
  background-color: #fff;
  color: #333;
}

.light::-webkit-scrollbar {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #ddd, #e8e8e8);
  width: 7px;
}
.light .inputs .input {
  color: #444;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}
